<div>
<h2> 
<%= title %>
<h2>

<form>
  <fieldset >
    <div class="form-group">
      <label for="disabledTextInput"> name</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="enter namet">
    </div>
    <div class="form-group">
      <label for="disabledSelect">password</label>
      <select id="disabledSelect" class="form-control">
        <option>123</option>
      </select>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" >
        <label class="form-check-label" for="disabledFieldsetCheck">
		Ibelive         </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">login</button>
  </fieldset>
</form>
<ul class="list-group">
	<% dbs.forEach(db =>{ %>
	<li class="list-group-item">
		<%= db %>
	</li>
		<% }); %>
</ul>
</div>